@import "../vars.scss";
@keyframes deli {
  0% {
    margin-left: -150px;
  }
  100% {
    margin-left: 0;
  }
}
@keyframes alerts {
  0% {
    opacity: 0.0;
  }
  10% {
    opacity: 1.0;
  }
  90% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.0;
  }
}
.App {
  background-color: white;
  height          : 100%;
  width           : 100%;
  .Home{
    display         : flex;
    flex-flow       : row nowrap;
    height          : 100%;
    width           : 100%;
    .Left{
      background: #3B3B3B;
      height          : 100%;
      width: 320px;
      textarea{
        background: #3B3B3B;
        color:white;
        width: 100%;
        height: 100%;
      }
    }
    .Right{
      background: #2F2C2C;
      height          : 100%;
      flex:1;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      .Component{
      }
    }
  }
}
